# Core functionality - changes here should be rare!
/src/app.py                   @RAMATHULASIA
/src/backend/database.py      @RAMATHULASIA
/src/backend/routers/auth.py  @RAMATHULASIA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RAMATHULASIA
